
body{
background-color: grey;

}
 ol {
   list-style-type: none;
   margin: 1px;
   padding: 1px;

   background-color: #333333;
 }

li {

float: left;
}

li a {
display: block;
color: white;

padding: 20px;
text-decoration: none;
}

li a:hover {
background-color:blue;

}

iframe
{
  float: right;
  padding:55px;
  height: 480px;
  width: 930px;
  border: 15px outset yellow;

}

img{
 float:right;
 padding-left:3px;

}

div{
position: fixed;
top: 20;
right: 20;
width: 200px;
height: 700px;
border: 10px outset lawngreen;

}
