body{
  background-color: #FF7F00;
}
img{

 float:right;
}

a{
  text-decoration: none;
  color: blue;
}
span{
  color:blue;
}

.html {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 16px 12px;

}

.one {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  padding: 16px 12px;

}

.html:hover .one {

  display: block;
}


.css {
  position: relative;
  display: inline-block;
}

.two {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  z-index: 1;
  padding: 16px 12px;
  border: 2px inset black;

}

.css:hover .two {

  display: block;
}


.ex {
  position: relative;
  display: inline-block;
}

.gradients {

  display: none;
  position: absolute;
  background-color: black;
  min-width: 100px;
  z-index: 1;
padding: 0px;
border: 2px solid green;
text-align: center;
border: 2px inset black;

}

.ex:hover .gradients {
 display: block;
}

.pseudo {
  position: relative;
  display: inline-block;
  width:90px;
}

.four {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  z-index: 1;
 text-align: center;
 border: 4px inset black;

}

.pseudo:hover .four {
  display: block;
  width: 75px;
}

.transition {
  position: relative;
  display: inline-block;
  width:50px;
}

.five {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  z-index: 1;
 text-align: center;
 border: 4px inset black;

}

.transition:hover .five {
  display: block;
  width: 50px;
}

.animation {
  position: relative;
  display: inline-block;
  width:50px;
}

.six {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  z-index: 1;
 text-align: center;
 border: 4px inset black;

}

.animation:hover .six {
  display: block;
  width: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width:180px;
}

.tool {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  z-index: 1;
 text-align: center;
 border: 4px inset black;

}

.tooltip:hover .tool {
  display: block;
  width: 50px;
}

.styling {
  position: relative;
  display: inline-block;
  width:180px;


}

.images {
  display: none;
  position: absolute;
  background-color: black;
  border: 4px inset black;

  min-width: 160px;


  z-index: 1;

}

.styling:hover .images {
  display: block;
  width: 150px;

}
