body{
  background-color: grey;
}
img{

 float:right;
 text-shadow: 20px 20px;
}
div{

    padding:5px;
}
span{
  color:blue;
  text-decoration: underline;
}

.html {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 12px 16px;

}

.one {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 5px;
  z-index: 1;
  text-decoration: none;

}

.html:hover .one {
  float: left;
  display: block;
}


.css {
  position: relative;
  display: inline-block;
}

.two {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  padding: 0px;
  z-index: 1;
  text-decoration: none;
}

.css:hover .two {
  float: left;
  display: block;
}


.ex {
  position: relative;
  display: inline-block;
}

.three {
  float:left;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  padding: 5px;
  z-index: 1;
  text-decoration: none;
}

.ex:hover .three {
 float: left;
 display: block;
}

.pseudo {
  position: relative;
  display: inline-block;
  width:100px;
}

.four {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  text-decoration: none;
  min-width: 130px;
  padding: 0px;
  z-index: 1;
}

.pseudo:hover .four {
  float: left;
  display: block;
}
