body{
  background-color: grey;
}
img{

 float:right;
}

a{
  text-decoration: none;
}
span{
  color:blue;
}

.html {
  position: relative;
  display: inline-block;
  width: 50px;
  padding: 12px 16px;
}

.one {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  text-align: left;

}

.html:hover .one {

  display: block;
}


.css {
  position: relative;
  display: inline-block;
}

.two {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  padding: 12px 16px;
  z-index: 1;
  text-align: left;

}

.css:hover .two {

  display: block;
}


.ex {
  position: relative;
  display: inline-block;
}

.gradients {

  display: none;
  position: absolute;
  background-color: white;
text-align: center;
  min-width: 150px;
 padding: 0px;
  z-index: 1;

}

.ex:hover .gradients {
 display: block;
}

.pseudo {
  position: relative;
  display: inline-block;
  width:50px;
}

.four {
  display: none;
  position: absolute;
  background-color: white;
text-align: center;
  min-width: 150px;
 padding: 0px;
  z-index: 1;


}

.pseudo:hover .four {
  display: block;
  width: 75px;
}

.transition {
  position: relative;
  display: inline-block;
  width:50px;
}

.five {
  display: none;
  position: absolute;
  background-color: white;
text-align: center;
  min-width: 150px;
 padding: 0px;
  z-index: 1;

}

.transition:hover .five {
  display: block;
  width: 50px;
}

.animation {
  position: relative;
  display: inline-block;
  width:50px;
}

.six {
  display: none;
  position: absolute;
  background-color: white;
text-align: center;
  min-width: 150px;
 padding: 0px;
  z-index: 1;

}

.animation:hover .six {
  display: block;
  width: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width:50px;
}

.tool {
  display: none;
  position: absolute;
  background-color: white;
text-align: center;
  min-width: 150px;
 padding: 0px;
  z-index: 1;

}

.tooltip:hover .tool {
  display: block;
  width: 50px;
}

.styling {
  position: relative;
  display: inline-block;
  width:80px;
}

.images {
  display: none;
  position: absolute;
  background-color: white;

text-align: center;
  min-width: 105px;

  z-index: 1;

}

.styling:hover .images {
  display: block;
  width: 150px;
}
